//main: main.less

@media screen and (max-width: 1331px) {
#ini {
    padding: inherit;
    .col3 .grid {
        position: relative;
        float: right;
    }
    .col2 {
          min-height: 158px;
    width: 250px;
    border: 2px solid white;
    }
    .banner1 {
        cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat top left;
        transition: all 0.3s 0.5s;
    }
    .banner2 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat top center;
        transition: all 0.3s 0.5s;
    }
    .banner3 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat top right;
        transition: all 0.3s 0.5s;
    }
    .banner4 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat center left;
        transition: all 0.6s 0.5s;
    }
    .banner5 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat center center;
        transition: all 0.6s 0.20s;
    }
    .banner6 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat center right;
        transition: all 0.6s 0.35s;
    }
    .banner7 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat bottom left;
        transition: all 0.6s 0.50s;
    }
    .banner8 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat bottom center;
        transition: all 0.6s 0.65s;
    }
    .banner9 {
         cursor: pointer;
         background: url(../img/banner_lap.jpg) no-repeat bottom right;
        transition: all 0.6s 0.80s;
    }

    .col4 {
    width: 20%;
    position: relative;
        right: 50px;
}
    a {
        color: @grisoscuro;
        font-size: 0.8em;
        &.primero {
            color: black;
            font-size: 1.0em;
            font-weight: bold;
        }
    }
    ul li, p {
            text-align: right;
    }
    p {
           margin-top: 0px;
        font-size: 0.8em;
        font-weight: bold;
    }
    ul {
            position: relative;
    top: 100px;
    }

   
}
    
    #acerca{
        background: url(../img/enredalogo_lap.jpg) no-repeat top left;
       
        div#info {
    position: absolute;
    width: 50%;
        max-width: 675px;
        height: 468px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.9);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease 0s;
}
    
    .col5 {
     margin-top: -50px;
}
        .col {
                height: 417px;
        }
    }

}
