//main: main.less

@media screen and (max-width: 1331px) {

    #ini2 {
        display: inherit;
        padding: inherit;

        .col3 .grid {
            position: relative;
            float: right;
        }

        .col2 {
            min-height: 158px;
            width: 250px;
            border: 2px solid white;
        }

        .banner_lap1 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat top left;
            transition: all 0.3s 0.5s;
        }

        .banner_lap2 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat top center;
            transition: all 0.3s 0.5s;
        }

        .banner_lap3 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat top right;
            transition: all 0.3s 0.5s;
        }

        .banner_lap4 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat center left;
            transition: all 0.6s 0.5s;
        }

        .banner_lap5 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat center center;
            transition: all 0.6s 0.20s;
        }

        .banner_lap6 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat center right;
            transition: all 0.6s 0.35s;
        }

        .banner_lap7 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat bottom left;
            transition: all 0.6s 0.50s;
        }

        .banner_lap8 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat bottom center;
            transition: all 0.6s 0.65s;
        }

        .banner_lap9 {
            cursor: pointer;
            background: url(../img/banner_lap.jpg) no-repeat bottom right;
            transition: all 0.6s 0.80s;
        }

        .col4 {
            width: 20%;
            position: relative;
            right: 50px;
        }

        li a:hover {
            text-decoration: underline;
        }

        a {
            color: @grisoscuro;
            font-size: 0.8em;

            &.primero {
                color: black;

                font-weight: bold;
            }
        }

        ul li,
        p {
            text-align: right;
        }

        p {
            margin-top: 0px;
            font-size: 0.8em;
            font-weight: bold;
            position: relative;
            top: 25px;
        }

        ul {
            position: relative;
            top: 100px;
        }


    }

    #acerca {
        background: url(../img/enredalogo_lap.jpg) no-repeat top left;

        div#info {
            position: absolute;
            // width: 50%;
            max-width: 675px;
            //   height: 468px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 31, 31, 0.9);
            opacity: 0;
            overflow: hidden;
            transition: opacity 0.3s ease 0s;
        }

        .primero {
            margin-top: 35px;
        }

        .col5 {
            //margin-top: -50px;
        }

        .col {
            height: 417px;
        }
    }

    #contacto {

        .main-grid {
            grid-template-columns: 75% 21%;
        }
        
        .principal {
            background: url(../img/Enredadera_lap.jpg) no-repeat top left;           
        }    

        .menu {
            .box {
                padding: 20px 30px 0 10px;
            } 
        }               
    }
}

@media (max-width: 1024px) {

    #contacto {    

        .main-grid {           
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 'principal' 'navegacion';
        }

        .principal {
            background: url(../img/Enredaderamovil.jpg) no-repeat top left;          
            height: 350px;
        }

        .menu {        
            max-width: 95%;
            margin: 0 auto;

            .iconos a {
                padding: 10px 18px;
            }

            span a {
                padding-right: 0;
            }
        }              
    }
}

@media (max-width: 768px) {

    #ini .main-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'principal' 'navegacion';
    }

    .elementor-social-icons-wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -50px;
    }

    #ini .col4 {
        display: none;
    }   

    #ini .menu {
        display: none;
    }

    body.home {
        .men {
            display: inherit;
        }

        .aux-parallax-section.elementor-element.elementor-element-9c4c58b.elementor-column.elementor-col-50.elementor-top-column {
            display: none;
        }

        #ini2 .col4 {
            display: none;
        }

        .grid .col3 {
            width: 100%;
        }

        #ini3 {
            display: inherit;
            padding: inherit;


            a {
                color: @grisoscuro;
                font-size: 0.8em;

                &.primero {
                    color: black;

                    font-weight: bold;
                }
            }

            ul li,
            p {
                text-align: right;
            }

            p {
                margin-top: 85px;
                font-size: 0.8em;
                font-weight: bold;
            }

            ul {
                position: relative;
                top: 100px;
            }

            li a:hover {
                text-decoration: underline;
            }


        }
    }

    body.page-id-17 {

        #acerca {
            height: 1500px;
            background: url(../img/enredalogomovil.jpg) no-repeat center top;
            background-size: contain;
            background-attachment: fixed;
            .grid .col {
                height: 100%;
                width: 100%;
            }

            .dos {
                margin-top: 784px;
            }

            .cuadricula {

                &.two {
                    grid-template-columns: 1fr;
                    grid-template-areas: 'img_1' 'img_2' 'img_3' 'img_4';
                } 
            }

        }
    }

    #proyectos {
        .fot3 {
            position: relative;
            top: 65px;
        }

        .fot1 {
            position: relative;
            top: 50px;
        }

        .fot5 {
            position: relative;
            right: 0px;
            bottom: -95px;
        }

        .fot4 {
            position: relative;
            left: 0px;
            top: 128px;
        }
    }   
    
}